.textFont {
    font-family: 'Gentium Book Basic', serif;
    font-weight: 400;
    color: #403628;
}

.textBold {
    font-family: 'Gentium Book Basic', serif;
    font-weight: 700;
    color: #403628;
}
body {
    background-color: #f9efd7;
    display: flex;
    justify-content: center;
}

.red {
    color: #cf4747;
}

.buttonStyle {
    background-color: white;
    color: #cf4747;
    border-radius: 20px;
    display: block;
    text-align: center;
    padding-top: 16px;
    width: 125px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

.blockIt {
    background-color: #1c3c35;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    padding: 25px;
    margin: 15px;
}

.mainHead{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
}

.subHead{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
}

.tinyText{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
}
