.addCookForm {
    color: white;
    background-color: lightslategray;
    padding: 0px 20px 20px 20px;
    border-radius: 0px 25px 25px 25px;
    position: relative;
}

.buttonDiv{
    display: flex;
    justify-content: center; 
    margin-bottom: 45px; 
}

.remove{
    background-color: #CF4747;
    padding: 4px 0px 4px 8px;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
}

.slash{
    padding: 4px 8px 4px 8px;
    background-image: linear-gradient(to right, #CF4747 , #b7bd6d);
}

.add{
    background-color: #b7bd6d;
    padding: 4px 10px 4px 0px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;

}

.selectCook {
    color: white;
    background-color: lightslategray;
    padding: 15px;
    border-radius: 25px 25px 0px 0px;
    width: 250px;
}

.homeCookCropBig {
    margin-left: 22px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 50%;
    /* position: absolute;
    bottom: 15px;
    right: 15px; */
}
.homeCookImg {
  display: inline;
  margin: 0 auto;
  margin-left: auto;
  height: 100%;
  width: auto;
}
.homeCookInput {
    margin-bottom: 25px;
}

.foodCrop {
    background-color: slategray;
    width: 325px;
    height: 160px;
    position: relative;
    overflow: hidden;
    border-radius: 25px 25px 0px 0px;
}

@media (max-width: 576px) {
    .foodCrop {
        width: 280px;
        height: 138px;
    }
}

.foodImg {
  display: inline;
  margin-top: -25%;
  height: auto;
  width: 100%;
}

.fakeBtn {
    background-color: #CF4747;
    font-size: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    right: 0px;
}


.plus {
    margin-top: 10px;
}

.imgContainer {
    position: relative;
    display: inline-block;
}

.submitBtn {
    position: absolute;
    bottom: 22px;
    right: 22px;
    border-radius: 25px;
    background-color: #d7dbac;
    color: #553e2d;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    font-size: 18px;
}

.submitBtn:hover {
    background-color: #b7bd6d;
}

.builderTextDiv {
    display: flex;
    justify-content: center;
}
