.welcomePage {
    background-color:#F8F3EF;
    height: 800px;
}

.banner {
    background-color:#F8F3EF;
}

p {
    padding-left: 20px;
    padding-right: 20px;
}

.poembox {
    background-color: #6288A8;

}