.search {
    border-bottom: solid 1px lightslategray;
    padding: 10px 0px 10px 7px;
}

.search:hover {
    background-color: rgba(255, 235, 200, 0.5);
}

.picture {
    margin-left: 8px;
    width: 220px;
    height: 150px;
    object-fit: cover;
}

.category {
    background-color: lightpink;
    display: inline;
    padding: 3px 14px 5px 14px;
    border-radius: 15px;
}

.author {
    margin-bottom: 18px;
}